#!/bin/bash

# extract all 5 unseal keys
for i in 1 2 3 4 5; do
  cat {{vault.configBase}}/secrets | grep "Unseal Key $i: " | sed -e "s/^Unseal\sKey\s$i:\s//" > {{vault.configBase}}/unseal.key.$i
done

# extract root token
cat {{vault.configBase}}/secrets | grep "Initial Root Token: " | sed -e "s/^Initial\sRoot\sToken:\s//" > {{vault.configBase}}/root_token