#!/bin/bash

set -eu

# source environment
source /etc/environment

# init operator
vault operator init -format=json -key-shares=1 -key-threshold=1 > \
	{{shared.secret_repo}}/secrets.json

# check source
if [ ! -e {{shared.secret_repo}}/secrets.json ]; then
	echo "file {{shared.secret_repo}}/secrets.json does not exist."
	exit 1
fi

# unseal vault
cat {{shared.secret_repo}}/secrets.json | \
	/snap/bin/jq '.unseal_keys_b64|.[0]' | \
	sed -e 's/^"//' -e 's/"$//' | \
	xargs vault operator unseal

# login vault
cat {{shared.secret_repo}}/secrets.json | \
	/snap/bin/jq '.root_token' | \
	sed -e 's/^"//' -e 's/"$//' | \
	xargs vault login

# mount concourse
vault mount -path=/concourse -description="Secrets for concourse pipelines" generic

# create policy
vault policy write policy-concourse {{vault.config_base}}/concourse-policy.hcl

# create token for concourse
vault token-create --policy=policy-concourse -period="600h" -format=json | \
	/snap/bin/jq '.auth | .client_token' | \
	sed -e 's/^"//' -e 's/"$//' | \
	tee {{shared.secret_repo}}/concourse-token


